@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
/*#region фільтр меню*/
.modals {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 1%;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}
.modals-dialog {
    position: relative;
    pointer-events: none;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
.centerpanel {
    padding: 5px;
    border: 1px solid #333;
    border-radius: .25rem;
    display:block;
    height: 100%;
    background-color: white;
}

.centerpanelbtn {
    text-align: center;
    padding: 5px;
    border: 1px solid #333;
    border-radius: .25rem;
    box-sizing: border-box;
}

.filter {
    border: 1px solid #333;
    width: 25%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 1%;
    padding: 5px;
    border-radius: .25rem;
}

.btnchange {
    background-color: #F7D00D;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: .25rem;
}

.cargo {
    margin-left: 17%;
    padding: 0px;
    margin: 0px;
    display: flex;
    border: 0px;
    vertical-align: top;
    box-sizing: border-box;
    outline: none !important;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
    align-items: baseline;
    width: 74%;
}

.mode {
    padding: 6%;
    border: 1px solid #333;
    border-radius: .25rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

.model {
    margin-left: auto;
    display: flex;
    margin-right: auto;
    flex-direction: column;
}

.moder {
    margin-left: auto;
    margin-right: auto;
}
.title {
    text-align: center;
    font-size: 18px;
    color: #656565;
}

.label-template {
    font-style: italic;
}
.range-slider {
    width: 100%;
    margin: auto;    
    position: relative;
    height: 6em;
}

/*#endregion*/

/*#region topbar bottombar*/
.top-row {
    display: flex;
    align-items: center;
    background-color: #6B2623;
    padding: 1%;
}

.rightpos {
    margin-left: auto;
}

.btn {
    background-color: #F7D00D;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

ul {
    height: auto;
    margin-top: 30%;
    margin-left: auto;
    margin-right: 90%;
    margin-bottom: auto;
    list-style: none;
    border-radius: .25rem;
}

.bottombar {
    display: flex;
    color: black;
    /* width: 100%; */
    background-color: #F7D00D;
    border-radius: .25rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: stretch;
}

.footerBlock {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.footerContacts {
    margin: 1% 0% 1% 5%;
    flex-direction: column;
}

.footerMenus {
    margin: 1% 0% 1% 68%;
    justify-content: space-between;
}
/*#endregion*/

/*#region випадаючі меню*/
.dropdown {
    background-color: #F7D00D;
    border-radius: .25rem;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    z-index: 1000;
}

.btnblock {
    background-color: #F7D00D;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    display: none;
    position: absolute;
    vertical-align: middle;
}

.dropdown:hover .btnblock {
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(253, 0, 0);
}

.basket {
    background-color: #F7D00D;
    border-radius: .25rem;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    vertical-align: middle;
}

.basketlock {
    background-color: #F7D00D;
    border: none;
    color: black;
    border-radius: .25rem;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    display: none;
    position: absolute;
}

.basket:hover .basketlock {
    display: block;
}

.basket-content a:hover {
    background-color: rgb(253, 0, 0);
}

.profile {
    background-color: #F7D00D;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
/*#endregion*/

/*#region default*/
.cheklist {
    background-image: url("cheklist.png");
}
.blocklog {
    margin-top: 5%;
    margin-bottom: auto;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px;
    background-color: #6B2623;
    transition: 0.3s;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    /*position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: stretch;*/
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    box-sizing: border-box;
    outline: none !important;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: stretch;
}
.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: black;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: black;
            }

.content {
    height:100%;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/*#endregion*/

/*#region scroll custom*/
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #b30000;
    }
/*#endregion*/

/*#region cards*/
.card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    width: 32%;
    height: 170px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 1%;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    align-content: stretch;
    align-items: baseline;
    flex-wrap: wrap;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.incard {
    margin: 3%;
}

img {
    border-radius: 5px 5px 0 0;
}
/*#endregion*/
