@inject NavigationManager UriHelper
@inherits LayoutComponentBase
@inject SimplePortal.Data.GlobalVariable gvar
<!--
<div class="sidebar">
    <NavMenu />
</div>
-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="main">

    <div class="top-row px-4">

        <!-- left -->
        <section>
            <button class="btn" onclick="location.href='https://localhost:5001/'"><i class="fa fa-home"></i>Home</button>
            <button class="btn" onclick="location.href='https://localhost:5001/cart'"><i class="oi oi-cart"></i>Cart</button>
            <button class="btn" onclick="location.href='https://localhost:5001/rulse'"><i class="fas fa-clipboard-list"></i>Terms of use of the site</button>
        </section>
        <!-- right -->
        @if (u != null)
        {
                <section class="rightpos">
                    <button class="btn" onclick="location.href='https://localhost:5001/profile'"><i class="fas fa-user"></i>Profile</button>
                    <button class="btn" @onclick="@Logout"><i class="fas fa-sign-out-alt"></i>Log out</button>
                </section>
        }
        else
        {
            <section class="rightpos">
                <button class="btn" onclick="location.href='https://localhost:5001/login'"><i class="fas fa-sign-in-alt"></i>Sing in</button>
                <button class="btn" onclick="location.href='https://localhost:5001/registration'"><i class="fas fa-user-plus"></i>Registration</button>
            </section>
        }
    </div>


    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    Users u = new Users();
    protected override async Task OnInitializedAsync()
    {
        u = await iLocalStorage.GetItemAsync<Users>("user");
    }
    private async void Logout()
    {
        //method exit login
        u = null;
        await iLocalStorage.ClearAsync();
        UriHelper.NavigateTo("/", forceLoad: true);
    }
}
