@page "/login"
@inject NavigationManager UriHelper
@inject SimplePortal.Data.GlobalVariable gvar

<link type="text/css" href="/css/login-reg/login-reg.css" rel="stylesheet" />

<div class="form">
    <div class="First">
        <p class="toptext">Sign to start your session</p>
        <div class="block1">
            <input type="text" placeholder="Login" @bind="user.Login" /><br /><br />
            <input type="password" placeholder="Password" @bind="user.Password" /><br /><br />
        </div>
        <div class="block1">
            <input type="button" value="Registration" class="Enter" onclick="location.href='https://localhost:5001/registration'" />
            <input type="button" value="Sign in" class="Enter" @onclick="SearchUser" />
            <br />
            <input type="button" value="Back" class="Enter" onclick="location.href='https://localhost:5001/'" />
        </div>
    </div>
    <div class="block1">@enter</div>
</div>
@code { 
    public string enter = "";
    IList<Users> ulist;
    Users user = new Users();

    protected override void OnInitialized()
    {
        ulist = Service.GetAllUsers();
    }
    private async void SaveUser()
    {
        await iLocalStorage.SetItemAsync("user", user);
    }
    private void SearchUser()
    {
        foreach (var users in ulist)
        {
            if (user.Login == user.Login)
            {
                if (user.Password == users.Password)
                {
                    user.Role = users.Role;
                    user.Balance = users.Balance;
                    user.Email = users.Email;
                    gvar.authorization = true;
                    break;
                }
            }
            else gvar.authorization = false;
        }

        if (gvar.authorization == true)
        {
            //you enter
            SaveUser();
            UriHelper.NavigateTo("/", forceLoad: true);
        }
        else if (gvar.authorization == false)
        {
            //login or password uncorenct
            enter = "Неправильний логін чи пароль.";
        }
    }
}