@page "/game/{PageID:int}"
@inject NavigationManager UriHelper
@inherits OwningComponentBase<ProjectServices>
@using Syncfusion.Blazor.Inputs
@inject SimplePortal.Data.GlobalVariable gvar

@if (glist == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="centerpanel">
        <div class="cheklist">
            <h3>Your Cart:</h3>
            <h4>Total: </h4>
        </div>
    </div>   
}

@code
    {
    [Parameter] public int PageID { get; set; }
    IList<Games> glist;
    Games gobj = new Games();
    protected override void OnInitialized()
    {
        glist = Service.GetAllGames();
    }
    private void GamesPage(Games gedit)
    {
        gobj = gedit;
    }
}
