
.form {
    background-color: grey;
}

.Enter {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 0 5px 1px gray; /* Тень */
}

.center-img {
    display: block;
    margin: 0 auto;
}

.google {
    color: white;
    background-color: #eb4444;
    box-shadow: 0 0 5px 1px gray; /* Тень */
    border-radius: 5px;
    width: 100%;
    height: 40px;
}

.block1 {
    vertical-align: middle;
}

.First {
    text-align: center;
}

.Second {
    text-align: center;
}

.toptext {
    color: dimgrey;
    font-size: 13px;
    padding-top: 20px;
}

.bottomtext {
    color: dimgrey;
    font-size: 13px;
}

.check {
    padding-right: 44px;
}

body {
    background: darkgray;
}

.form {
    margin: auto;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.6); /* Тень */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 10px; /* Радиус скругления */
    background: #eeece0; /* Цвет фона */
    width: auto;
}

.link {
    padding-top: 10px;
}
